.container-page {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    height: 100vh;
}
.contact-list {
    overflow: scroll;
    overflow-x: hidden;
}
.contact-list::-webkit-scrollbar {
    background-color: rgba(201, 191, 236, 0.84);
    width: 1rem;
}
